.main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    justify-items: center;
}

.payment{
    display: flex;
    align-items: center;
    gap: 5px;
}

.payment > div{
    display: flex;
    align-items: center;
}

.payment > div > input{
    width: 40px;
}

.transmission {
    display: flex;
    gap: 10px;
    align-items: center;
}

.transmission > div {
    display: flex;
}
@media screen and (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}
