.main {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 20px;
    margin: 0 auto;
    max-width: 1150px;
}

.main > :first-child {
    background-color:white;
    padding:25px 65px;
    border-radius: 5px;
}



.main> :first-child>form >h3 {
    text-align: center;
}
.main> :first-child>form >button {
    margin-top: 20px;
}
.main> :first-child>form >:nth-child(3),
.main> :first-child>form >:nth-child(5) {
    margin-top: 25px;
}

.progressbar {
    width: 400px;
    height: 10px;
    background-color: #EEEEF5;
}

.progressbar div {
    width: 33.3%;
    height: 100%;
    background-color: var(--brand-color);
    transition-property: width;
    transition-duration: 0.5s;
}


@media (max-width: 1440px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 250px;
        gap: 20px;
    }

    .main > :first-child {
        background-color:white;
        padding:25px 25px;
    }
}

@media screen  and (max-width: 1024px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .main > :first-child {
        padding:25px 25px;
    }

    .main > :nth-child(2) {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .main >div>form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}