.main {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.main > :nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    grid-gap: 20px;
    gap: 20px;
}
.main button {
    width: 200px;
}

@media screen and (max-width: 768px) {
    
    .main > div {
        align-items: center;
    }
    .main  > :nth-child(2) {
        display: flex;
        flex-direction: column;
    }
    .main button {
        width: 200px;
    }
    
    .main input{
        width: 250px;
    }
    .main :last-child {
        display: flex;
        justify-content: center;
    }
}
