.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.main > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .main {
    margin: 25px;
  }
  .main > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .location > :last-child {
    display: flex;
    justify-content: center;
  }
  .main input,
  .main select {
    max-width: 250px;
  }

  .main input[type="number"] {
    width: 140px;
  }
}
