.main {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
    margin: 0 auto;
    max-width: 1150px;
}


.listings {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar {
    display:flex;
    flex-direction:column;
    gap: 20px;
}



.sidebar > div {
    justify-content:space-between;
    align-items:center;
    gap: 20px;
    padding: 15px 25px;
    background-color: white;
    border-radius: 5px;
}

/* .sidebar > :first-child {
    height: 63px;
    display:flex;
    align-items:center;
    color: grey;
    text-decoration:underline;
    background-color: transparent;
    
} */


.beta > h3{
    text-align: center;
}

.beta > p {
    margin: 5px;
}

@media (max-width: 1440px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 270px;
        gap: 20px;
    }
    .sidebar > div {
        padding: 15px 10px;
    }
}

@media screen and  (max-width: 1024px) {
    .main {
        grid-template-columns: 1fr;
    }
    
    .sidebar {
        display:none;
    }

    .listings {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0 10px;
    }
}