.main {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
    margin: 0 auto;
    max-width: 1150px;
}

.main > :first-child {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main > :first-child > div { 
    background-color: white;
    padding: 40px;
    border-radius: 5px;
}

.main > :first-child h1 {
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body > :last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.body > :last-child  a {
    color: #3C3C77;
}

.sidebar {
    display:flex;
    flex-direction:column;
    gap: 20px;
}



.sidebar > div {
    justify-content:space-between;
    align-items:center;
    gap: 20px;
    padding: 15px 25px;
    background-color: white;
    border-radius: 5px;
}


.head {
    display: grid;
    grid-template-areas: 
    "title title"
    "option1 option2";
    gap: 25px;
    text-align: center;
}

.head > :first-child {
    grid-area: title;
}

.head > :nth-child(2) {
    grid-area: option1;
}

.head > :nth-child(3) {
    grid-area: option2;
}

.head i {
    font-size: 60px;
}

.head > div {
    background-color: #EEEEF5;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.head > div:hover {
    background-color: #cfcfda;
}

.beta > h3{
    text-align: center;
}

.beta > p {
    margin: 5px;
}

@media (max-width: 1440px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 270px;
        gap: 20px;
    }
    .sidebar > div {
        padding: 15px 10px;
    }
}

@media screen and  (max-width: 1024px) {
    .main {
        grid-template-columns: 1fr;
    }
    
    .sidebar {
        display:none;
    }

    .body {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0 10px;
    }

}