.auth {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.auth h3 {
    text-align: center;
}

.auth > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    
}


.control label {
    display: block;
    font-weight: bold;
}

.control input {
    font: inherit;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.buttonText {
    background-color: transparent;
    border: none;
    color: black;
    padding: 0;
    text-decoration: underline;
}

.buttonText:hover {
    background-color: transparent;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .auth {
        align-items: center;
    }
    
}
